<div class="form_wrapper">
	<div class="form_close" data-close-popup>

	</div>

	<div class="form_main">

		<div class="form_title">
			<p class="form_title_main">{{ title ? title : 'Поможем выбрать зал на день рождения'}}</p>
		</div>

		<form class="form_block" action="/ajax/form/" data-form-target="{{target}}">
			<input type="hidden" name="type" value="{{ type ? type : 'main'}}" />
			<div class="form_inputs">
				<div class="input_wrapper">
					<input type="text" name="name" data-required placeholder="Как Вас зовут?" class="not_check_approove"/>
				</div>
				<div class="input_wrapper">
					<input type="text" name="phone" data-required placeholder="Номер телефона" autocomplete="off"/>
				</div>
				<div class="input_wrapper ">
					<input type="number" min="1" name="guests" data-required placeholder="Число гостей" />
				</div>
{#				<div class="input_wrapper">#}
{#					<input type="text" name="email" placeholder="Email" />#}
{#					<input type="text" name="email" placeholder="Электронная почта" />#}
{#				</div>#}

				<div class="input_wrapper form_block_select" data-form-select-block data-type="event_type">
					<input type="hidden" name="event_type" value="Birthday" data-selected-option data-required/>
					<div class="pseudo_input" data-form-select>День рождения</div>
					<div class="options" data-scroll-block>
						<div class="option _active" data-value="Birthday" data-form-select-item data-prazdnik-spec-id="9"><p>День рождения</p></div>
						<div class="option" data-value="Corporate" data-form-select-item data-prazdnik-spec-id="15"><p>Корпоратив</p></div>
						<div class="option" data-value="Wedding" data-form-select-item data-prazdnik-spec-id="1"><p>Свадьба</p></div>
						<div class="option" data-value="children holiday" data-form-select-item data-prazdnik-spec-id="12"><p>Детский праздник</p></div>
						<div class="option" data-value="High school graduation" data-form-select-item data-prazdnik-spec-id="11"><p>Выпускной</p></div>
						<div class="option" data-value="Corporate_NY" data-form-select-item data-prazdnik-spec-id="17"><p>Корпоратив на Новый Год</p></div>
						<div class="option" data-value="Unknown" data-form-select-item data-prazdnik-spec-id><p>Другое</p></div>
					</div>
				</div>

				 <div class="input_wrapper date_wrapper">
					<input type="text" name="date" readonly placeholder="Дата мероприятия" class="not_check_approove" data-required/>
					<div class="input_wrapper_date_wrapper" style="display: none;">

					</div>
				</div>

				<div class="input_wrapper">
					<input type="number" min="1" name="max_budget" placeholder="Максимальный бюджет" />
				</div>

				{% if not without_comment %}
					<div class="input_wrapper _big_width">
						<input type="text" name="comment" placeholder="Комментарий" />
					</div>
				{% endif %}
			</div>
			
			{% if venue_id is defined %}
				<input type="hidden" name="venue_id" value="{{venue_id}}" />
			{% endif %}

			<div class="form_submit">
				<button class="_button" data-target="{{ btn_target ? btn_target : '' }}" >Отправить</button>
				<div class="form_policy checkbox_item _active" data-action="form_checkbox">
					<input type="checkbox" name="policy" class="personalData" checked="">
					<p class="checkbox_pseudo" >Я согласен с <a target="_blank" href="{{app.params.siteProtocol}}://{{app.params.siteAddress}}/politika/">политикой обработки персональных данных</a></p>
				</div>
			</div>
				
		</form>

	</div>
	<div class="form_success">
		<p class="form_title_main" data-form-result-title>Заявка успешно отправлена</p>
		<p data-form-result-body>Спасибо за проявленный интерес. Мы свяжемся с вами в течение рабочего дня, чтобы обсудить детали.</p>
		<p class="form_close_bottom" data-close-popup>Спасибо, закрыть</p>
	</div>
	
</div>