<ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
	{% set multipleIdx = 0 %}
	{% for crumb in seo.breadcrumbs %}
		{% if crumb.type == 'multiple' and multipleIdx == 0 %}
			{% set multipleIdx = loop.index %}
		{% endif %}
		<li class="breadcrumbs_item breadcrumbs_item_{{crumb.type}}"  itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" typeof="ListItem">
			<a itemprop="item" typeof="WebPage" href="{{crumb.link}}">
				<span itemprop="name">{{crumb.name}}</span>
				<meta itemprop="position" content="{{crumb.type == 'multiple' ? multipleIdx : loop.index - multipleIdx }}">
			</a>
		</li>
	{% endfor %}
</ul>
<div class="title">
	<h1>{{seo.h1}}</h1>
	{# <!--div class="title_desc"><p>{{seo.desc}}</p></div--> #}
	{# <!--div class="title_address"><p>{{seo.address}}</p></div--> #}
</div>