{% if item.restaurant_images[0].subpath %}
    {% set img_src = item.restaurant_images[0].subpath %}
{% else %}
    {% set img_src = item.restaurant_images[0].realpath %}
{% endif %}

{{ this.registerMetaTag({'property':'og:title','content':seo.h1|raw}) }}
{{ this.registerMetaTag({'property':'og:description','content':(this.params['desc'] ? this.params['desc'] : seo.h1|raw)}) }}
{{ this.registerMetaTag({'property':'og:type','content':'website'}) }}
{{ this.registerMetaTag({'property':'og:url','content':app.params.siteProtocol~'://'~app.params.domen~'/catalog/'~item.restaurant_slug~'/'}) }}
{{ this.registerMetaTag({'property':'og:image','content':(item.restaurant_images ? Declension.get_image_src(img_src) : '/upload/img/bd/no_photo.png')}) }}
<div data-page-type="item" {% if item.restaurant_premium %} data-premium-rest="{{item.restaurant_gorko_id}}" {% endif %}>
    <div class="content_block" data-listing-title>
        {{ this.render('//components/generic/item_title.twig', {'seo':seo, 'item':item}) | raw }}
        <div class="title_bot">
            {% if item.restaurant_premium %}
                <div class="item_pro_wrapper">
                    <img loading="lazy" class="item_pro" src="/upload/img/item_pro.svg"
                         atl="PRO «{{ item.restaurant_name }}»">
                    <p class="item_pro_text">pro</p>
                </div>
            {% endif %}
            {% if item.restaurant_rev_ya.rate and item.restaurant_rev_ya.count %}
                <div class="item_rating">
                    <img src="/upload/img/item_star.svg" alt="Оценка {{ item.restaurant_name }}">
                    <div class="item_rating-rate">
                        {{ item.restaurant_rev_ya.rate }}
                    </div>
                    <div class="item_rating-count">
                        {{ item.restaurant_rev_ya.count }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

</div>

<div class="rest_top_meta" itemscope itemtype="https://schema.org/Restaurant">
    <div class="content_block">
        <div class="rest_top_row">
            <div class="rest_top_overline">
                <div class="rest_meta_item">
                    <p class="rest_meta_item-title">Адрес:</p>
                    <a class="rest_meta_item-value item_address" data-action="roll_to_map"
                       data-target="karta">{{ item.restaurant_address|raw }}</a>
                    {# {% set firstEl = item.restaurant_metro_stations |first %} #}
{#                    {% if firstEl.name is not empty %}#}
{#                        <div class="rest_meta_item-value item_metro">{{ firstEl.name }}</div>#}
{#                    {% endif %}#}
						  {% if item.restaurant_metro_stations %}
						  		<div class="rest_meta_item-value item_metro">
									{% for metro in item.restaurant_metro_stations %}
										<a class="item_meta-item__metro-link" href="/catalog/metro-{{metro.link}}/">{{ metro.name }}{{ loop.last ? '' : ',' }}</a>
									{% endfor %}
								</div>
                    {% endif %}
                </div>

                <div class="rest_meta_item">
                    {% if item.restaurant_cuisine %}
                        <p class="rest_meta_item-title">Кухня:</p>
                        <p class="rest_meta_item-value">{{ item.restaurant_cuisine }}</p>
                    {% endif %}
                </div>

                <div class="rest_meta_item">
                    <p class="rest_meta_item-title">Залы:</p>
                    <p class="object_meta_value">{{ rooms_capacity|length }}
                        помещени{{ Declension.get_num_ending(rooms_capacity|length,['е','я','й']) }}:
                        {% for slug, capacity in rooms_capacity %}
                            <a
                            href="/catalog/{{ item.restaurant_slug }}/{{ slug }}/">{{ capacity }}</a>{{ loop.last ? '' : ', ' }}
                        {% endfor %}
                        человек</p>
                </div>
            </div>
            <div class="rest_top_underline">
                <div class="left_block">
                    <div class="rest_meta_item">
                        {% if count_rooms == 1 %}
                            {% if item.rooms[0].price or item.rooms[0].rent_room_only %}
                                <div class="room_desc_item rooms_desc_item_price">
                                    <p class="room_desc_title">Стоимость:</p>
                                    <div class="room_price">
                                        {% if item.rooms[0].payment_model_id == 0 or item.rooms[0].payment_model_id == 2 %}
                                            <div class="room_price_banket">
                                                <span class="room_price_subtitle">C банкетом:</span>
                                                <div class="room_price_banket_info">
                                                    {% if item.rooms[0].rent_room_only and item.rooms[0].rent_room_only > 1%}
                                                        <div class="room_price_block">
                                                            Зал: <span class="room_price_text">{{ item.rooms[0].rent_room_only }} ₽</span>
                                                        </div>
                                                    {% endif %}
                                                    {% if item.rooms[0].price and item.rooms[0].price > 0 %}
                                                        <div class="room_price_block">
                                                            Банкет:
                                                            <span class="room_price_text">от {{ item.rooms[0].price  }} ₽/чел.</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% elseif item.rooms[0].payment_model_id == 1 %}
                                            <div class="room_price_banket">
                                                <span class="room_price_subtitle">C банкетом:</span>
                                                <div class="room_price_banket_info">
                                                    {% if item.rooms[0].banquet_price_person and item.rooms[0].banquet_price_person > 0 %}
                                                        <div class="room_price_block">
                                                            Банкет:
                                                            <span class="room_price_text">от {{ item.rooms[0].banquet_price_person }} ₽/чел.</span>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}

                                        {% if (item.rooms[0].rent_only and item.rooms[0].rent_room_only > 0) %}
                                            <div class="room_price_food">
                                                <span class="room_price_subtitle">Без еды</span>
                                                <div class="room_price_text">{{ item.rooms[0].rent_room_only }} ₽{{ item.rooms[0].rent_room_only > 3000 ? '' : '/час'}} за закрытие зала</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <p class="rest_meta_item-title">Стоимость:</p>
                            {% if (item.rent_room_only_min or item.restaurant_min_check ) %}
                                <div class="prices_block">
                                    <div class="with_banket">
                                        <div class="prices_block_title">
                                            <span>С банкетом:</span>
                                        </div>
                                        <div class="with_banket_items">
                                            {% if (item.rent_room_only_min and item.rent_room_only_min > 1) %}
                                                <div class="with_banket_item">
                                                    Зал: <span class="item_price">от {{ item.rent_room_only_min }} ₽</span>
                                                </div>
                                            {% endif %}
                                            {% if (item.restaurant_min_check and item.restaurant_min_check > 1) %}
                                                <div class="with_banket_item">
                                                    Банкет: <span class="item_price">от {{ item.restaurant_min_check }} ₽/чел.</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if (item.rent_room_only_min or item.rent_room_only_min > 1) %}
                                        {% if  item.rent_room_only_min > 1%}
                                            <div class="without_food">
                                                <div class="prices_block_title">
                                                    <span>Без еды:</span>
                                                </div>
                                                <div class="without_food_items">
                                                    <div class="without_food_item">
                                                        <span class="item_price">от {{ item.rent_room_only_min }} ₽{{ item.rent_room_only_min > 3000 ? '' : '/час'}} за закрытие зала</span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% else %}
                                По запросу
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="right_block">
                    <div class="rest_meta_item">
                        <p class="rest_meta_item-title">Забронировать по телефону:</p>
                        <div class="rest_book_hidden">
                            <p class="object_book_phone object_meta_value" data-show-phone data-target="lid_pokazat_nomer">
                                <span class="object_fake_phone rest_meta_item-phone">
                                    {{ item.restaurant_phone }}
                                    <span class="blur_phone"></span>
                                </span>
                                <a href="tel:{{ item.restaurant_phone }}" class="hidden rest_meta_item-phone object_real_phone">{{ item.restaurant_phone }}</a>
                            </p>
{#                            <div class="object_book_hidden_button" data-popup-phone data-target="lid_pokazat_nomer">#}
{#                                Показать номер#}
{#                            </div>#}
                            <div class="popup_wrap popup_phone_wrap" data-popup-phone-wrap>
                                <div class="popup_phone">
                                    <div class="form_close" data-close-popup-phone></div>
                                    <p class="popup_phone_title">Ресторан <span
                                                itemprop="name">{{ item.restaurant_name }}</span></p>
                                    <div class="popup_phone_present">
                                        <img loading="lazy" src="/upload/img/present.svg">
                                        <p>Забронируй зал и получи подарок!</p>
                                    </div>
                                    <a href="tel:{{ item.restaurant_phone }}" class="popup_real_phone"><span
                                                itemprop="telephone">{{ item.restaurant_phone }}</span></a>
                                    <p class="popup_phone_address" itemprop="address" itemscope
                                       itemtype="https://schema.org/PostalAddress">
                                        {{ item.restaurant_address|raw }}
                                        <meta content="{{ app.params.subdomen_name }}" itemprop="addressLocality">
                                        <meta content="{{ item.restaurant_address|split(', ')[1:]|join(', ') }}"
                                              itemprop="streetAddress">
                                    </p>
                                    <link href="{{ item.restaurant_images ? Declension.get_image_src(item.restaurant_images[0].subpath) : '/upload/img/bd/no_photo.png' }}"
                                          itemprop="image">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rest_meta_item _mobile">
                        <div class="rest_meta_btn _button " data-order data-target="podval_rest">Заказать</div>
                    </div>

                    <div class="rest_meta_item _desc">
                        <div class="rest_meta_btn _button" data-order data-target="podval_rest">Заказать</div>
                    </div>
                </div>
            </div>
{#            <div class="rest_meta_item">#}
{#                <p class="rest_meta_item-title">Средний чек:</p>#}
{#                <p class="rest_meta_item-price">{{ min_price ? 'от '~min_price~' ₽/чел.' : 'по запросу' }}</p>#}
{#            </div>#}
{#            <div class="rest_meta_item">#}
{#                <p class="rest_meta_item-title">Залы:</p>#}
{#                <p class="object_meta_value">{{ rooms_capacity|length }}#}
{#                    помещени{{ Declension.get_num_ending(rooms_capacity|length,['е','я','й']) }}:#}
{#                    {% for slug, capacity in rooms_capacity %}#}
{#                        <a#}
{#                        href="/catalog/restoran-{{ item.restaurant_slug }}/{{ slug }}/">{{ capacity }}</a>{{ loop.last ? '' : ', ' }}#}
{#                    {% endfor %}#}
{#                    человек</p>#}
{#            </div>#}
{#            <div class="rest_meta_item">#}
{#                {% if item.restaurant_cuisine %}#}
{#                    <p class="rest_meta_item-title">Кухня:</p>#}
{#                    <p class="rest_meta_item-value">{{ item.restaurant_cuisine }}</p>#}
{#                {% endif %}#}
{#            </div>#}

{#            <div class="rest_meta_item">#}
{#                <p class="rest_meta_item-title">Забронировать по телефону:</p>#}
{#                <div class="rest_book_hidden">#}
{#                    <p class="object_book_phone object_meta_value">#}
{#                        <span class="object_fake_phone rest_meta_item-phone">+7 xxx xxx-xx-xx</span>#}
{#                        <!--a href="tel:{{ item.restaurant_phone }}" class="object_real_phone">{{ item.restaurant_phone }}</a-->#}
{#                    </p>#}
{#                    <div class="object_book_hidden_button" data-popup-phone data-target="lid_pokazat_nomer">#}
{#                        Показать номер#}
{#                    </div>#}
{#                    <div class="popup_wrap popup_phone_wrap" data-popup-phone-wrap>#}
{#                        <div class="popup_phone">#}
{#                            <div class="form_close" data-close-popup-phone></div>#}
{#                            <p class="popup_phone_title">Ресторан <span#}
{#                                        itemprop="name">{{ item.restaurant_name }}</span></p>#}
{#                            <div class="popup_phone_present">#}
{#                                <img loading="lazy" src="/upload/img/present.svg">#}
{#                                <p>Забронируй зал и получи подарок!</p>#}
{#                            </div>#}
{#                            <a href="tel:{{ item.restaurant_phone }}" class="popup_real_phone"><span#}
{#                                        itemprop="telephone">{{ item.restaurant_phone }}</span></a>#}
{#                            <p class="popup_phone_address" itemprop="address" itemscope#}
{#                               itemtype="https://schema.org/PostalAddress">#}
{#                                {{ item.restaurant_address|raw }}#}
{#                                <meta content="{{ app.params.subdomen_name }}" itemprop="addressLocality">#}
{#                                <meta content="{{ item.restaurant_address|split(', ')[1:]|join(', ') }}"#}
{#                                      itemprop="streetAddress">#}
{#                            </p>#}
{#                            <link href="{{ item.restaurant_images ? Declension.get_image_src(item.restaurant_images[0].subpath) : '/upload/img/bd/no_photo.png' }}"#}
{#                                  itemprop="image">#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

{#            <div class="rest_meta_item">#}
{#                <p class="rest_meta_item-title">Адрес:</p>#}
{#                <a class="rest_meta_item-value item_address" data-action="roll_to_map"#}
{#                   data-target="karta">{{ item.restaurant_address|raw }}</a>#}
{#                #}{# {% set firstEl = item.restaurant_metro_stations |first %}#}
{#                {% if firstEl.name is not empty %}#}
{#                    <div class="rest_meta_item-value item_metro">{{ firstEl.name }}</div>#}
{#                {% endif %} #}

{#					 {% if item.restaurant_metro_stations %}#}
{#					 	{% set metroList = '' %}#}
{#						{% for metro in item.restaurant_metro_stations %}#}
{#							{% if loop.first %}#}
{#								{% set metroList = metroList ~ '<a href="/catalog/metro-' ~ metro.link ~ '/">' ~ metro.name ~ '</a>' %}#}
{#							{% else %}#}
{#								{% set metroList = metroList ~ ', ' ~ '<a href="/catalog/metro-' ~ metro.link ~ '/">' ~ metro.name ~ '</a>' %}#}
{#							{% endif %}#}
{#						{% endfor %}#}
{#					 	#}
{#						<div class="rest_meta_item-value item_metro">{{ metroList|raw }}</div>#}
{#					 {% endif %}#}
{#            </div>#}

{#            <div class="rest_meta_item _mobile">#}
{#                <div class="rest_meta_btn _button " data-order data-target="podval_rest">Заказать</div>#}
{#            </div>#}

{#            <div class="rest_meta_item _desc">#}
{#                <div class="rest_meta_btn _button" data-order data-target="podval_rest">Заказать</div>#}
{#            </div>#}
        </div>

    </div>
</div>

{# <div class="rest_top_wrap 1" itemscope itemtype="https://schema.org/Restaurant"> #}
    {# <div class="content_block"> #}
    {# <div class="rest_top_left"> #}
    {# <div class="object_meta"> #}
    {# <div class="object_meta_item"> #}
    {# <p class="object_meta_title">Средний чек:</p> #}
    {# <p class="object_meta_value">{{ min_price ? 'от '~min_price~' ₽/чел.' : 'по запросу' }}</p> #}
    {# </div> #}
    {# <div class="object_meta_item"> #}
    {# <p class="object_meta_title">Забронировать по телефону:</p> #}
    {# <div class="object_book_hidden"> #}
    {# <p class="object_book_phone object_meta_value"> #}
    {# <span class="object_fake_phone">+7 xxx xxx-xx-xx</span> #}
    {# <!--a href="tel:{{ item.restaurant_phone }}" class="object_real_phone">{{ item.restaurant_phone }}</a--> #}
    {# </p> #}
    {# <div class="object_book_hidden_button" data-popup-phone data-target="lid_pokazat_nomer"> #}
    {# Показать номер #}
    {# </div> #}
    {# <div class="popup_wrap popup_phone_wrap" data-popup-phone-wrap> #}
    {# <div class="popup_phone"> #}
    {# <div class="form_close" data-close-popup></div> #}
    {# <p class="popup_phone_title">Ресторан <span #}
    {# itemprop="name">{{ item.restaurant_name }}</span></p> #}
    {# <div class="popup_phone_present"> #}
    {# <img loading="lazy" src="/upload/img/present.svg"> #}
    {# <p>Забронируй зал и получи подарок!</p> #}
    {# </div> #}
    {# <a href="tel:{{ item.restaurant_phone }}" class="popup_real_phone"><span #}
    {# itemprop="telephone">{{ item.restaurant_phone }}</span></a> #}
    {# <p class="popup_phone_address" itemprop="address" itemscope #}
    {# itemtype="https://schema.org/PostalAddress"> #}
    {# {{ item.restaurant_address|raw }} #}
    {# <meta content="{{ app.params.subdomen_name }}" itemprop="addressLocality"> #}
    {# <meta content="{{ item.restaurant_address|split(', ')[1:]|join(', ') }}" #}
    {# itemprop="streetAddress"> #}
    {# </p> #}
    {# <link href="{{ item.restaurant_images ? Declension.get_image_src(item.restaurant_images[0].subpath) : '/upload/img/bd/no_photo.png' }}" #}
    {# itemprop="image"> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# <div class="rest_top_right"> #}
    {# <div class="object_meta"> #}
    {# <div class="object_meta_item"> #}
    {# <p class="object_meta_title">Залы:</p> #}
    {# <p class="object_meta_value">{{ rooms_capacity|length }} #}
    {# помещени{{ Declension.get_num_ending(rooms_capacity|length,['е','я','й']) }}: #}
    {# {% for slug, capacity in rooms_capacity %} #}
    {# <a href="/catalog/restoran-{{ item.restaurant_slug }}/{{ slug }}/">{{ capacity }}</a> #}
    {# {{ loop.last ? '' : ', ' }} #}
    {# {% endfor %} #}
    {# человек</p> #}
    {# </div> #}
    {# {% if item.restaurant_cuisine %} #}
    {# <div class="object_meta_item"> #}
    {# <p class="object_meta_title">Кухня:</p> #}
    {# <p class="object_meta_value">{{ item.restaurant_cuisine }}</p> #}
    {# </div> #}
    {# {% endif %} #}
    {# </div> #}
    {# <div class="object_meta"> #}
    {# <div class="object_meta_item"> #}
    {# <p class="object_meta_title">Адрес:</p> #}
    {# <a class="item_address" href="#map" data-target="karta">{{ item.restaurant_address|raw }}</a> #}
    {# <span class="item_metro">Кузнецкий мост</span> #}
    {# </div> #}
    {# <div class="object_meta_item object_meta_item_btn"> #}
    {# <div class="rest_order_btn _button" data-order data-target="podval_rest">Заказать</div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}
    {# </div> #}

    {% set breakLoop = false %}
    {% for room in item.rooms if breakLoop == false %}
        {% if room.images %}
            {% set breakLoop = true %}
        {% endif %}
    {% endfor %}

    {% if item.restaurant_images %}
        <div class="object_gallery_wrap _rest">
            <div class="listing_widget_arrow _prev"></div>
            <div class="listing_widget_arrow _next"></div>
            <div class="object_gallery_container swiper-container" data-gallery-main-swiper data-gallery-swiper>
                <div class="object_gallery_swiper swiper-wrapper" data-gallery-list>
                    {% set lazyCount = 2 %}
                    {% set counter = 0 %}
                    {% set last = item.restaurant_images | length %}
                    {% set lazy = '' %}
                    {% for image in item.restaurant_images %}
                        {% if image.waterpath %}
                            {% set img_src = image.waterpath %}
                        {% else %}
                            {% set img_src = image.realpath %}
                        {% endif %}
                        {% set counter = counter + 1 %}
                        {% if counter == last %}
                            {% set lazy = '' %}
                        {% endif %}

                        <div class="object swiper-slide">
                            <div class="object_img">
                                <img {{ lazy }}
                                    src="{{ Declension.get_image_src(img_src~'=w800-h600-l100') }}"
                                    data-gallery-img-view/>
                            </div>
                        </div>
                        {% set lazyCount = lazyCount - 1 %}
                        {% if lazyCount == 0 %}
                            {% set lazy = 'loading=lazy' %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="gallery-pagination"></div>
            </div>
            <div class="content_block">
                <div class="object_gallery_container swiper-container" data-gallery-thumb-swiper style="">
                    <div class="object_gallery_swiper swiper-wrapper" data-gallery-list>
                        {% for image in item.restaurant_images %}
                            {% if image.subpath %}
                                {% set img_src = image.subpath %}
                            {% else %}
                                {% set img_src = image.realpath %}
                            {% endif %}
                            <div class="object swiper-slide">
                                <img loading="lazy"
                                    src="{{ Declension.get_image_src(img_src~'=w150-h90-l80') }}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% elseif breakLoop == true %}
        <div class="object_gallery_wrap _rest">
            <div class="listing_widget_arrow _prev"></div>
            <div class="listing_widget_arrow _next"></div>
            <div class="object_gallery_container swiper-container" data-gallery-main-swiper data-gallery-swiper>
                <div class="object_gallery_swiper swiper-wrapper" data-gallery-list>
                   {% set breakLoop = false %}
                   {% for room in item.rooms if breakLoop == false %}
                        {% if room.images %}
                            {% set breakLoop = true %}
                            {% for image in room.images %}
                                {% if image.waterpath %}
                                    {% set img_src = image.waterpath %}
                                {% else %}
                                    {% set img_src = image.realpath %}
                                {% endif %}
                                <div class="object swiper-slide">
                                    <div class="object_img">
                                        <img loading="lazy"
                                             src="{{ Declension.get_image_src(img_src~'=w800-h600-l100') }}"
                                             data-gallery-img-view/>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="listing_widget_controll">
                    <div class="listing_widget_pagination"></div>
                </div>
            </div>
            <div class="content_block">
                <div class="object_gallery_container swiper-container" data-gallery-thumb-swiper style="">
                    <div class="object_gallery_swiper swiper-wrapper" data-gallery-list>
                        {% set breakLoop = false %}
                        {% for room in item.rooms if breakLoop == false %}
                            {% if room.images %}
                                {% set breakLoop = true %}
                                {% for image in room.images %}
                                    {% if image.waterpath %}
                                        {% set img_src = image.waterpath %}
                                    {% else %}
                                        {% set img_src = image.realpath %}
                                    {% endif %}
                                    <div class="object swiper-slide">
                                        <img loading="lazy"
                                             src="{{ Declension.get_image_src(img_src~'=w150-h90-l80') }}"/>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

<div class="rest_desc_wrap">
    <div class="content_block">


        <div class="rest_top_meta _mobile">
            <div class="object_meta _mobile">
                <div class="object_meta_item">
                    {% if count_rooms == 1 %}
                        {% if item.rooms[0].price or item.rooms[0].rent_room_only %}
                            <div class="room_desc_item rooms_desc_item_price">
                                <p class="room_desc_title">Стоимость:</p>
                                <div class="room_price">
                                    {% if item.rooms[0].payment_model_id == 0 or item.rooms[0].payment_model_id == 2 %}
                                        <div class="room_price_banket">
                                            <span class="room_price_subtitle">C банкетом:</span>
                                            <div class="room_price_banket_info">
                                                {% if item.rooms[0].rent_room_only and item.rooms[0].rent_room_only > 1%}
                                                    <div class="room_price_block">
                                                        Зал: <span class="room_price_text">{{ item.rooms[0].rent_room_only }} ₽</span>
                                                    </div>
                                                {% endif %}
                                                {% if item.rooms[0].price and item.rooms[0].price > 0 %}
                                                    <div class="room_price_block">
                                                        Банкет:
                                                        <span class="room_price_text">от {{ item.rooms[0].price  }} ₽/чел.</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% elseif item.rooms[0].payment_model_id == 1 %}
                                        <div class="room_price_banket">
                                            <span class="room_price_subtitle">C банкетом:</span>
                                            <div class="room_price_banket_info">
                                                {% if item.rooms[0].banquet_price_person and item.rooms[0].banquet_price_person > 0 %}
                                                    <div class="room_price_block">
                                                        Банкет:
                                                        <span class="room_price_text">от {{ item.rooms[0].banquet_price_person }} ₽/чел.</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if (item.rooms[0].rent_only or item.rooms[0].rent_room_only > 0) %}
                                        {% if item.rooms[0].rent_room_only > 0 %}
                                            <div class="room_price_food">
                                                <span class="room_price_subtitle">Без еды</span>
                                                <div class="room_price_text">{{ item.rooms[0].rent_room_only }} ₽{{ item.rooms[0].rent_room_only > 3000 ? '' : '/час'}} за закрытие зала</div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <p class="rest_meta_item-title">Стоимость:</p>
                        {% if (item.rent_room_only_min or item.restaurant_min_check ) %}
                            <div class="prices_block">
                                <div class="with_banket">
                                    <div class="prices_block_title">
                                        <span>С банкетом:</span>
                                    </div>
                                    <div class="with_banket_items">
                                        {% if (item.rent_room_only_min and item.rent_room_only_min > 1) %}
                                            <div class="with_banket_item">
                                                Зал: <span class="item_price">от {{ item.rent_room_only_min }} ₽</span>
                                            </div>
                                        {% endif %}
                                        {% if (item.restaurant_min_check and item.restaurant_min_check > 1) %}
                                            <div class="with_banket_item">
                                                Банкет: <span class="item_price">от {{ item.restaurant_min_check }} ₽/чел.</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {% if (item.rent_room_only_min or item.rent_room_only_min > 1) %}
                                    {% if item.rent_room_only_min > 1 %}
                                        <div class="without_food">
                                            <div class="prices_block_title">
                                                <span>Без еды:</span>
                                            </div>
                                            <div class="without_food_items">
                                                <div class="without_food_item">
                                                    <span class="item_price">от {{ item.rent_room_only_min }} ₽{{ item.rent_room_only_min > 3000 ? '' : '/час'}} за закрытие зала</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% else %}
                            По запросу
                        {% endif %}
                    {% endif %}
                </div>
                <div class="object_meta_item">
                    <div class="item_btn">
                        <a href="tel:{{ item.restaurant_phone }}" class="item_btn-phone _button"
                           data-target="call">
                            Позвонить
                        </a>
                        <button class="item_btn-book _button" data-rest-name="{{ item.restaurant_name }}"
                                data-rest-type="{{ item.restaurant_main_type }}" data-open-popup-form-blog>Забронировать
                        </button>
                    </div>
                </div>
            </div>
            <div class="rest_top_row">
                <div class="rest_meta_item">
                    <p class="rest_meta_item-title">Залы:</p>
                    <p class="object_meta_value">{{ rooms_capacity|length }}
                        помещени{{ Declension.get_num_ending(rooms_capacity|length,['е','я','й']) }}:
                        {% for slug, capacity in rooms_capacity %}
                            <a
                            href="/catalog/{{ item.restaurant_slug }}/{{ slug }}/">{{ capacity }}</a>{{ loop.last ? '' : ', ' }}
                        {% endfor %}
                        человек</p>
                </div>
                <div class="rest_meta_item">
                    {% if item.restaurant_cuisine %}
                        <p class="rest_meta_item-title">Кухня:</p>
                        <p class="rest_meta_item-value">{{ item.restaurant_cuisine }}</p>
                    {% endif %}
                </div>
                <div class="rest_meta_item">
                    <p class="rest_meta_item-title">Адрес:</p>
                    <a class="rest_meta_item-value item_address" href="#map"
                       data-target="karta">{{ item.restaurant_address|raw }}</a>
                    {# {% set firstEl = item.restaurant_metro_stations |first %}
                    {% if firstEl.name is not empty %}
                        <div class="rest_meta_item-value item_metro">{{ firstEl.name }}</div>
                    {% endif %} #}
						  {% if item.restaurant_metro_stations %}
						  		<div class="rest_meta_item-value item_metro">
									{% for metro in item.restaurant_metro_stations %}
										<a class="item_meta-item__metro-link" href="/catalog/metro-{{metro.link}}/">{{ metro.name }}{{ loop.last ? '' : ',' }}</a>
									{% endfor %}
								</div>
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="rest_desc">
            <div class="rest_desc_col">
                <div class="rest_desc_item">
                    <p class="rest_desc_title">Тип ресторана</p>
                    <p class="rest_desc_value">
                        {% for type in item.restaurant_types %}
                            {% if type.link %}
                                <a href="/catalog/{{ type.link }}/">{{ loop.first ? type.name : type.name|lower }}{{ loop.last ? '' : ', ' }}</a>
                            {% else %}
                                <span>{{ loop.first ? type.name : type.name|lower }}{{ loop.last ? '' : ', ' }}</span>
                            {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="rest_desc_item">
                    <p class="rest_desc_title">Расположение</p>
                    {% set location = {'1':'Около моря','2':'Около реки','7':'Около озера','3':'В горах','4':'В городе','5':'В центре города','6':'За городом'} %}
                    <p class="rest_desc_value">
                        {% for type in item.restaurant_location %}
                            {{ loop.first ? location[type.id] : location[type.id]|lower }}{{ loop.last ? '' : ', ' }}
                        {% endfor %}
                    </p>
                </div>
                <div class="rest_desc_item">
                    <p class="rest_desc_title">Алкоголь</p>
                    {{ item.restaurant_alcohol == 1 ? '<p class="rest_desc_value _check">В наличии</p>':'' }}
                    {% if item.restaurant_own_alcohol != 'Нельзя свой алкоголь' %}
                        <p class="rest_desc_value _check"><a href="/catalog/svoy-alko/">{{item.restaurant_own_alcohol|replace({' алкоголь': ''})}}</a></p>
                    {% else %}
                        <p class="rest_desc_value _check">{{item.restaurant_own_alcohol|replace({' алкоголь': ''})}}</p>
                    {% endif %}
                </div>
                <div class="rest_desc_item">
                    <p class="rest_desc_title">Парковка</p>
                    <p class="rest_desc_value">{{ item.restaurant_parking ? Declension.get(item.restaurant_parking,'мест',true) : 'Нет' }}</p>
                </div>
                <div class="rest_desc_item">
                    <p class="rest_desc_title">Оплата</p>
                    <p class="rest_desc_value">{{ item.restaurant_payment }}</p>
                </div>
            </div>

            {% if item.restaurant_special_array or item.restaurant_premium_features[3].value %}
                <div class="rest_desc_col">
                    <div class="rest_desc_item">
                        <p class="rest_desc_title _mb">Особенности</p>
                        {% if item.restaurant_premium_features[3].value %}
                            {% for spec in item.restaurant_premium_features[3].value|split(',')  %}
                                <p class="rest_desc_value _check">{{ spec }}</p>
                            {% endfor %}
                        {% else %}
                            {% for spec in item.restaurant_special_array %}
                                {% if spec.link %}
                                    {% if spec.name == 'Музыкальное оборудование' %}
                                        <p class="rest_desc_value _check"><a href="/catalog/{{ spec.link }}/">Караоке</a></p>
                                    {% else %}
                                        <p class="rest_desc_value _check"><a href="/catalog/{{ spec.link }}/">{{ spec.name }}</a></p>
                                    {% endif %}
                                {% else %}
                                    {% if special.name == 'Музыкальное оборудование' %}
                                        <p class="rest_desc_value _check">Караоке</p>
                                    {% else %}
                                        <p class="rest_desc_value _check">{{ spec.name }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if item.restaurant_extra or item.restaurant_premium_features[2].value %}
                <div class="rest_desc_col">
                    <div class="rest_desc_item">
                        <p class="rest_desc_title _mb">За дополнительную плату</p>
                        {% if item.restaurant_premium_features[2].value %}
                            {% for extra in item.restaurant_premium_features[2].value|split(',')  %}
                                <p class="rest_desc_value _check">{{ extra }}</p>
                            {% endfor %}
                        {% else %}
                            {% for extra in item.restaurant_extra %}
                                {% if extra.link %}
                                    <p class="rest_desc_value _check">
                                        <a href="/catalog/{{ extra.link }}/">{{ extra.name }}</a>
                                    </p>
                                {% else %}
                                    <p class="rest_desc_value _check">{{ extra.name }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <pre style='display:none'>
            {{ dump(seo)}}
        </pre>
        {% if seo.text_1 %}
            <div class="rest_desc_text">
                {# <div class="rest_desc_item seo_text" data-seo-text> #}
                <div class="rest_desc_item seo_text">
                    {#<p class="rest_desc_title">Описание</p>#}
                    <div class="rest_desc_value">
                        {{ seo.text_1|raw }}
                    </div>
                    {# <div class="seo_text_control" data-seo-control>
                        <p class="_link">Показать полностью</p>
                    </div> #}
                </div>
            </div>
        {% endif %}
        {% if item.restaurant_premium_features[1].value %}
            <div class="rest_desc_text">
                {# <div class="rest_desc_item seo_text" data-seo-text> #}
                <div class="rest_desc_item seo_text">
                    {#<p class="rest_desc_title">Описание</p>#}
                    <div class="rest_desc_value">
                        {{ item.restaurant_premium_features[1].value|raw }}
                    </div>
                    {# <div class="seo_text_control" data-seo-control>
                        <p class="_link">Показать полностью</p>
                    </div> #}
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="rest_rooms_wrap">
    <div class="content_block room_objects">
        <h2>Залы ресторана</h2>
        <div class="room_objects_wrap">
            {% for same_object in same_objects %}
                <div class="room_object">
					 	<div class="room_object_slider" data-room-slider>
                    <div class="room_object_img swiper-wrapper">
                        {% for i in 0..2 %}
                            {% if same_object.images %}
                                {% if same_object.images[i].subpath %}
                                    {% set img_src = Declension.get_image_src(same_object.images[i].subpath~'=w445-h302-n-l95') %}
                                {% else %}
                                    {% set img_src = Declension.get_image_src(same_object.images[i].realpath~'=w445-h302-n-l95') %}
                                {% endif %}
                            {% else %}
                                {% set img_src = '/upload/img/bd/no_photo_s.png' %}
                            {% endif %}
                            <div class="room_object_img_item swiper-slide">
                                <img loading="lazy" src="{{ img_src }}">
                            </div>
                        {% endfor %}
                    </div>
						  <div class="swiper-pagination item-gallery-pagination"></div>
						</div>
                    <div class="room_object_desc">
                        <div class="room_object_desc-top">
                            <div class="room_object_desc-title"><a
                                        href="/catalog/{{ item.restaurant_slug }}/{{ same_object.slug }}/">{{ same_object.name }}</a>
                            </div>
                            <div class="room_object-meta">
                                <div class="room_desc_item">
                                    <p class="room_desc_title">Вместимость:</p>
                                    <p class="room_desc_value">{{ same_object.capacity }} человек</p>
                                </div>
                                {% if same_object.payment_model %}
                                    <div class="room_desc_item">
                                        <p class="room_desc_title">Схема оплаты:</p>
                                        <p class="room_desc_value">{{ same_object.payment_model }}</p>
                                    </div>
                                {% endif %}
                                {% if same_object.price or same_object.rent_room_only %}
                                    <div class="room_desc_item rooms_desc_item_price">
                                        <p class="room_desc_title">Стоимость:</p>
                                        <div class="room_price">
                                            {% if same_object.payment_model_id == 0 or same_object.payment_model_id == 2 %}
                                                <div class="room_price_banket">
                                                    <span class="room_price_subtitle">C банкетом:</span>
                                                    <div class="room_price_banket_info">
                                                        {% if same_object.rent_room_only %}
                                                            <div class="room_price_block">
                                                                Зал:
                                                                {% if same_object.rent_room_only == 0 %}
                                                                    <span class="room_price_text">бесплатно</span>
                                                                {% else %}
                                                                    <span class="room_price_text">{{ same_object.rent_room_only }} ₽</span>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                        {% if same_object.price and same_object.price > 0 %}
                                                            <div class="room_price_block">
                                                                Банкет:
                                                                <span class="room_price_text">от {{ same_object.price  }} ₽/чел.</span>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% elseif same_object.payment_model_id == 1 %}
                                                <div class="room_price_banket">
                                                    <span class="room_price_subtitle">C банкетом:</span>
                                                    <div class="room_price_banket_info">
                                                        {% if same_object.banquet_price_person and same_object.banquet_price_person > 0 %}
                                                            <div class="room_price_block">
                                                                Банкет:
                                                                <span class="room_price_text">от {{ same_object.banquet_price_person }} ₽/чел.</span>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}

                                            {% if same_object.rent_only or same_object.rent_room_only > 0%}
                                                {% if same_object.rent_room_only > 0 %}
                                                    <div class="room_price_food">
                                                        <span class="room_price_subtitle">Без еды</span>
                                                        <div class="room_price_text">{{ same_object.rent_room_only }} ₽{{ same_object.rent_room_only > 3000 ? '' : '/час'}} за закрытие зала</div>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="item_btn">
                            <button class="item_btn-book" data-form-target="zal"
                                    data-rest-name="{{ item.restaurant_name }}"
                                    data-room-name="{{ same_object.name }}"
                                    data-rest-type="{{ item.restaurant_main_type }}" data-open-popup-form-blog>
                                Забронировать
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if item.restaurant_rev_ya.id %}
    <div class="content_block">
        <div class="item__review-yandex">
            <h2 class="item__review-title">Отзывы о заведении</h2>
            <div style="width:auto;height:1000px;overflow:hidden;position:relative;">
                <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
                        data-src="https://yandex.ru/maps-reviews-widget/{{ item.restaurant_rev_ya.id }}?comments"></iframe>

                <a href="https://yandex.ru/maps/org/pansionat_sm_pension/{{ item.restaurant_rev_ya.id }}"
                   target="_blank"
                   style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0;overflow:hidden;text-overflow:ellipsis;display:block;max-height:14px;white-space:nowrap;padding:0 16px;box-sizing:border-box">{{ seo.h1 }}
                    — Яндекс Карты</a>
            </div>
        </div>
    </div>
{% endif %}

<div class="map" name="map">
    <div class="map_title">Ресторан {{ item.restaurant_name }} на карте</div>
    <div class="map_data_wrap">
        <div class="map_data">
            <div class="map_img_wrap">
                {% if item.restaurant_images[0].subpath %}
                    {% set img_src = item.restaurant_images[0].subpath %}
                {% else %}
                    {% set img_src = item.restaurant_images[0].realpath %}
                {% endif %}
                <img loading="lazy" class="map_img"
                     src="{{ Declension.get_image_src(img_src~'=w710-h472-n-l95') }}">
            </div>

            <a href="/catalog/{{ item.restaurant_slug }}/"
               class="map_rest_name">{{ item.restaurant_name }}</a>
            <p class="map_rest_address">{{ item.restaurant_address }}</p>
            <p class="map_close">Спасибо, закрыть</p>
        </div>
    </div>
    <div id="map" data-mapDotX="{{ item.restaurant_latitude }}" data-mapDotY="{{ item.restaurant_longitude }}"
         data-balloon="" data-hint="">

    </div>
</div>


{% if other_rests %}
    <div class="listing_wrap other_rests_wrap">
        <h2>Похожие рестораны</h2>
        <div class="content_block" data-widget-wrapper>
            <div class="listing_widget_arrow _prev"></div>
            <div class="items_list_listing swiper swiper-container" data-listing-wrapper>
                <div class="items_list swiper-wrapper" data-listing-list>
                    {{ this.render('//components/generic/listing.twig', {'items': other_rests}) | raw }}
                </div>
                <div class="listing_widget_controll">
                    <div class="listing_widget_pagination"></div>
                </div>
            </div>
            <div class="listing_widget_arrow _next"></div>
        </div>
    </div>
{% endif %}

<div class="display_bottom">
    <div class="item_btn">
        <a href="tel:{{ item.restaurant_phone }}" class="item_btn-phone _button" data-target="call">
            Позвонить
        </a>
        <button class="item_btn-book _button" data-rest-name="{{ item.restaurant_name }}"
                data-rest-type="{{ item.restaurant_main_type }}" data-open-popup-form-blog>Забронировать
        </button>
    </div>
</div>

{# {{ this.render('//components/generic/form.twig', {'title': 'Поможем выбрать зал на день рождения', 'target': 'podval_rest'}) | raw }} #}
    {{ this.render('//components/generic/form.twig', {'title': 'Забронировать ' ~ item.restaurant_main_type|lower ~ ' «' ~ item.restaurant_name|trim ~'»', 'target': 'podval_rest', 'btn_target': 'podval_rest', 'venue_id' : item.restaurant_gorko_id}) | raw }}

