<div data-page-type="index">
	<div class="main_top_slider">
		<img src="/img/first_page.jpg">
	</div>
	<div class="main_top">
		<h1>{{seo.h1|replace({'**city_dec**': appParams.subdomen_dec})|raw}}</h1>
		<div class="main_top_desc">
			{{count}}
			заведен{{Declension.get_num_ending(count,['ие','ия','ий'])}}
		</div>
		<div class="main_search">
			<div class="main_search_city">
				<input class="main_search_city_input" type="text" placeholder="Город" data-selected-city-id="{{appParams.subdomen_id}}" data-selected-city-alias="{{appParams.subdomen_id}}">
				<div class="main_search_city_list">
					{% for subdomenObject in appParams.activeSubdomenRecords %}
						<p data-city-id="{{subdomenObject.city_id}}" data-city-alias="{{subdomenObject.alias}}" >{{subdomenObject.name}}</p>
					{% endfor %}
				</div>
			</div>
			<div class="main_search_type_room">
				<span class="type_room_choose">Тип площадки</span>
				<span class="choose" data-selected-filter-item=""></span>
				<div class="main_search_type_room_list">
					{% for mainfilter in filters %}
						{% for item in mainfilter.items %}
							<p data-filter-item="{{item.filter_id}},{{item.value}}">{{item.text}}</p>
						{% endfor %}
					{% endfor %}
				</div>
			</div>
			<span class="main_search_submit">Подобрать</span>
		</div>
		<div class="main_rectangle_wrap">
			{% if  mainRestTypesCounts.1 > 0 %}
			<div class="main_rectangle">
				<div class="main_rectangle_1"></div>
				<div class="main_rectangle_2"></div>
				<a href="/catalog/restoran/">
					<div class="main_rectangle_count">{{mainRestTypesCounts.1}}</div>
					<div class="main_rectangle_type">ресторан{{Declension.get_num_ending(mainRestTypesCounts.1,['','а','ов'])}}</div>
				</a>
			</div>
			{% endif %}
			{% if  mainRestTypesCounts.3 > 0 %}
			<div class="main_rectangle">
				<div class="main_rectangle_1"></div>
				<div class="main_rectangle_2"></div>
				<a href="/catalog/kafe/">
					<div class="main_rectangle_count">{{mainRestTypesCounts.3}}</div>
					<div class="main_rectangle_type">кафе</div>
				</a>
			</div>
			{% endif %}
			{% if  mainRestTypesCounts.4 > 0 %}
			<div class="main_rectangle">
				<div class="main_rectangle_1"></div>
				<div class="main_rectangle_2"></div>
				<a href="/catalog/bar/">
					<div class="main_rectangle_count">{{mainRestTypesCounts.4}}</div>
					<div class="main_rectangle_type">бар{{Declension.get_num_ending(mainRestTypesCounts.4,['','а','ов'])}}</div>
				</a>
			</div>
			{% endif %}
			{% if  mainRestTypesCounts.36 > 0 %}
			<div class="main_rectangle">
				<div class="main_rectangle_1"></div>
				<div class="main_rectangle_2"></div>
				<a href="/catalog/loft/">
					<div class="main_rectangle_count">{{mainRestTypesCounts.36}}</div>
					<div class="main_rectangle_type">лофт{{Declension.get_num_ending(mainRestTypesCounts.36,['','а','ов'])}}</div>
				</a>
			</div>
			{% endif %}
			{% if  mainRestTypesCounts.30 > 0 %}
			<div class="main_rectangle">
				<div class="main_rectangle_1"></div>
				<div class="main_rectangle_2"></div>
				<a href="/catalog/veranda/">
					<div class="main_rectangle_count">{{mainRestTypesCounts.30}}</div>
					<div class="main_rectangle_type">веранд{{Declension.get_num_ending(mainRestTypesCounts.30,['а','ы',''])}}</div>
				</a>
			</div>
			{% endif %}
		</div>
	</div>

	<div class="listing_wrap" style="/*height: 550px;*/background: #F8F8F8;">
		<div class="content_block" data-widget-wrapper>
			<div class="listing_widget_arrow _prev"></div>
			<div class="items_list_listing swiper-container" data-listing-wrapper>
				<div class="items_list swiper-wrapper" data-listing-list>
					{{slider|raw}}
				</div>
				<div class="listing_widget_controll">
					<div class="listing_widget_pagination"></div>
				</div>
			</div>
			<div class="listing_widget_arrow _next"></div>
		</div>
	</div>

	<div class="content_info">
		<div class="content_info_top">
			<div class="content_info_block">		
				<img class="main_girl" src="/img/main_girl.png">
				<img class="main_girl_mobile" src="/img/main_girl_mobile.png">
				<div class="content_info_top_right">
					<div class="content_info_rectangle_wrap">
						<div class="content_info_rectangle"></div>
					</div>
					<div class="content_info_top_text seo_text" data-seo-text>
						<p>День рождения – теплый и душевный праздник, который хочется провести в кругу друзей и родных. Где в Самаре лучше отметить юбилей? Как подобрать ресторан, куда действительно будет приятно пригласить дорогих сердцу людей? Удобнее всего обратиться к единому интернет-каталогу “Мой День”, в котором собрано огромное количество различных столичных заведений, приглашающих отпраздновать у них День рождения.</p>
						<p>У нас представлено множество заведений, в которых можно взять в аренду банкетный зал для проведения торжества. Вся информация о залах собрана в одном месте. Здесь найдете подробное описание каждого заведения с указанием количества залов и их вместимости, красочные актуальные фото и все сведения, касающиеся дополнительных условий.</p>
						<div class="seo_text_control" data-seo-control>
							<p class="_link">Показать полностью</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="content_block">
			<p class="content_info_adv_title">
				Вы с легкостью подберете подходящий банкетный зал для празднования дня рождения благодаря нашим преимуществам:
			</p>
			<div class="content_info_adv main_rectangle_wrap">
				<div class="content_info_wrap">
					<div class="main_rectangle">
						<div class="main_rectangle_1"></div>
						<img class="main_rectangle_icon content_info_icon_2" src="/img/rest_base.svg">
					</div>
					<div class="content_info_adv_h">
						Большая база ресторанов
					</div>
					<div class="content_info_adv_p">
						У нас есть заведения, расположенные на центральных улицах столицы и за ее пределами, в живописных парках и на берегу водоемов, с просторными помещениями и открытыми летними террасами
					</div>
				</div>
				<div class="content_info_wrap">
					<div class="main_rectangle">
						<div class="main_rectangle_1"></div>
						<img class="main_rectangle_icon content_info_icon_2" src="/img/booking.svg">
					</div>
					<div class="content_info_adv_h">
						Бронирование на сайте
					</div>
					<div class="content_info_adv_p">
						Не нужно отдельно искать контакты и способы связи с заведением. Заказать помещение на юбилей можно через каталог, сделав пару кликов.
					</div>
				</div>
				<div class="content_info_wrap">
					<div class="main_rectangle">
						<div class="main_rectangle_1"></div>
						<img class="main_rectangle_icon content_info_icon_2" src="/img/date_calendar.svg">
					</div>
					<div class="content_info_adv_h">
						Выбор свободных дат прямо в карточке ресторана
					</div>
					<div class="content_info_adv_p">
						Моментально узнайте, где есть места в нужный день.
					</div>
				</div>
			</div>
		</div>
		<div class="content_info_slider">
			<img src="/img/content_info.jpg">
		</div>
	</div>


	<div class="main_blog">
		<h3>Последние записи блога</h2>
		<a class="all_articles" href="#">Все статьи</a>
		<div class="content_block">
			<div class="blog_item blog_item_1">
				<div class="blog_img">
					<a href="#"><img src="/img/blog/blog_item_1.jpg"></a>
				</div>
				<div class="blog_text">
					<p class="blog_date">12 декабря 2019</p>
					<a href="#">
						<p class="blog_title">По пути: особенности свадебной логистики в Петербурге</p>
					</a>
					<p class="blog_description">Можно родиться в Питере и знать все его дворики и переулки, как свои пять пальцев, или влюбиться в его атмосферу на расстоянии — в любом случае, выбирая этот.</p>
				</div>
			</div>
			<div class="blog_item blog_item_2">
				<div class="blog_img">
					<a href="#"><img src="/img/blog/blog_item_2.jpg"></a>
				</div>
				<div class="blog_text">
					<p class="blog_date">12 декабря 2019</p>
					<a href="#">
						<p class="blog_title">Свадебное агентство «Вдвоем»: вдвойне счастливее</p>
					</a>
					<p class="blog_description">Мечты невесты о волшебной лесной сказке стали реальностью благодаря агентству Event №1. Живописная природа, необычный декор и яркая эмоциональная программ</p>
				</div>
			</div>
			<div class="blog_item blog_item_3">
				<div class="blog_img">
					<a href="#"><img src="/img/blog/blog_item_3.jpg"></a>
				</div>
				<div class="blog_text">
					<p class="blog_date">12 декабря 2019</p>
					<a href="#">
						<p class="blog_title">50 потрясающих поз для свадебной фотосессии</p>
					</a>
					<p class="blog_description">Если вы с женихом никогда не были профессиональными моделями, фотосъемка обернется для вас серьезным стрессом.</p>
				</div>
			</div>
			<div class="blog_item blog_item_4">
				<div class="blog_img">
					<a href="#"><img src="/img/blog/blog_item_4.jpg"></a>
				</div>
				<div class="blog_text">
					<p class="blog_date">12 декабря 2019</p>
					<a href="#">
						<p class="blog_title">Невеста в положении – что надо знать?</p>
					</a>
					<p class="blog_description">Нередко свадьбу играют, когда невеста в положении. Рассказываем в подробностях, как устроить торжество в этом случае.</p>
				</div>
			</div>
			<div class="blog_item blog_item_5">
				<div class="blog_img">
					<a href="#"><img src="/img/blog/blog_item_5.jpg"></a>
				</div>
				<div class="blog_text">
					<p class="blog_date">12 декабря 2019</p>
					<a href="#">
						<p class="blog_title">Как готовиться со свадебным органайзером «Помощник Невесты»?</p>
					</a>
					<p class="blog_description">Показываем, что есть внутри нашего свадебного органайзера и как подготовиться к свадьбе с его помощью.</p>
				</div>
			</div>
		</div>
	</div>

	{% if mainSlices %}
	<div class="main_podborki">
		<h3>Подборки заведений</h2>
		<div class="content_block">
			{% for alias, slice in mainSlices %}
			<div class="restaurant_item">
				<div class="restaurant_img">
					<a href="/catalog/{{alias}}/" target="_blank">
						<img src="/img/restaurants/restaurant_{{loop.index}}.jpg">
					</a>
				</div>
				<div class="restaurant_text">
					<a href="/catalog/{{alias}}/" target="_blank">{{slice.name}}</a>
					<span>{{slice.count}}</span>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="bottom_block">
		<h2>День рождения в ресторане – удобно, красиво, доступно</h2>
		<div class="content_block seo_text" data-seo-text>
			<p>Если вы решили праздновать день рождения в кафе, все хлопоты по организации мероприятия будут лежать на персонале. Вам не придется тратить время на готовку блюд и сервировку стола, заниматься изнурительной уборкой после ухода гостей.</p>
			<p>В современных заведениях вам предложат большой выбор блюд европейской, средиземноморской, кавказской, японской, русской и другой кухни. Вы без труда подберете угощения на любой вкус, а опытные повара приготовят их в самом лучшем виде.</p>
			<p>Также заведения предлагают множество дополнительных услуг для проведения банкета:</p>
			<ul>
				<li>музыкальное сопровождение,</li>
				<li>праздничное оформление столов и залов,</li>
				<li>аренда светового и звукового оборудования,</li>
				<li>выступления артистов и аниматоров,</li>
				<li>фейерверк, фаер-шоу и многие другие.</li>
			</ul>
			<p>Стоимость празднования может варьироваться в широких пределах, и каждый виновник торжества сможет выбрать место в желаемой ценовой категории.</p>
			<div class="seo_text_control" data-seo-control>
				<p class="_link">Показать полностью</p>
			</div>
		</div>
	</div>

	{{ this.render('//components/generic/form.twig',{'title': 'Поможем выбрать зал на день рождения'}) | raw }}


</div>
